<form action="/random/result">
<label for="Minimum">Minimum</label>
<input id="Minimum" type="text" name="minimum">

<label for="Maximum">Maximum</label>
<input id="Maximum" type="text" name="maximum">



<button>Pick random number</button>
</form>

